body {
    font-family: 'Arial', sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    background: linear-gradient(to right, #8e44ad, #3498db);
    color: #ffffff;
}
.text-converter {
    background: rgba(255, 255, 255, 0.9);
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
    text-align: center;
    max-width: 400px;
    width: 90%;
    color: black;
}
textarea {
    width: 100%;
    height: 100px;
    padding: 10px;
    border-radius: 5px;
    border: 1px solid #ccc;
    font-size: 16px;
    margin-bottom: 15px;
    resize: none;
    outline: none;
}
button {
    padding: 10px 15px;
    margin: 5px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    transition: background 0.3s;
}
.uppercase-button {
    background: #27ae60;
    color: white;
}
.uppercase-button:hover {
    background: #219150;
}
.lowercase-button {
    background: #c0392b;
    color: white;
}
.lowercase-button:hover {
    background: #96281b;
}